* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagem1 {
    height: 220px;
    width: 20%;
    border-radius: 10px;
    background-color: rgb(189, 4, 4);
    position: relative;
    left: 13%;
    margin-top: 13%;
}

.imagem2 {
    height: 220px;
    width: 20%;
    border-radius: 10px;
    background-color: rgb(189, 4, 4);
    position: relative;
    left: 13%;
    margin-top: 9%;
}

.imagem3 {
    height: 220px;
    width: 20%;
    border-radius: 10px;
    background-color: rgb(189, 4, 4);
    position: relative;
    margin-left: 43%;
    margin-top: -22%;
}